.name-img-card {
  box-shadow: 5px 5px 5px rgb(165, 164, 164);
  display: inline-block;
  margin: 10px;
  margin-left: 20px;
  margin-top: 30px;
  word-wrap: break-word;
}

.drink-img {
  width: 100px;
}

.container-pag-drink {
  background-color: white;
}

.background-drink {
  background-color: white;
  height: 100vh;
}

@media screen and ( min-width : 1000px ) {

  .container-drinks {
    height: 88vh;
    overflow: scroll;
  }

  .container-pag-drink {
    background-color: white;
    height: 99vh;
    margin: auto;
    width: 380px;
  }

  .background-drink {
    background-color: gray;
  }
}
