.container-pag-food {
  background-color: white;
}

.background-food {
  background-color: white;
  height: 100vh;
}

@media screen and ( min-width : 1000px ) {

  .container-foods {
    height: 88vh;
    overflow-y: scroll;
  }

  .container-pag-food {
    background-color: white;
    height: 99vh;
    margin: auto;
    width: 380px;
  }

  .background-food {
    background-color: gray;
  }
}
